---
page_title: "Provider: Matrix"
description: |-
  The Matrix provider provides resources to interact with a Matrix API.
---

# Matrix Provider

The Matrix provider provides resources to interact with a Matrix API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
